<?xml version="1.0"?>


<configuration>

  <connectionStrings>
    <add name="QuestionnaireEnglish" connectionString="Data source=Sen-Sav-Sql2; Initial Catalog=AFFIQuestionnaire_Testing; user id=AFFIQuestionnaire; pwd=2Aff!Td7@1B; Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <add name="QuestionnaireSpanish" connectionString="Data source=Sen-Sav-Sql2; Initial Catalog=AFFIQuestionnaire_Spanish; user id=AFFIQuestionnaire; pwd=2Aff!Td7@1B; Connection Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="smtpServer" value="mail.seneca.com"/>
    <add key="errorEmailRecipient" value="jchampion@seneca.com"/>
    <add key="fromEmailAddress" value="fsmastorefront@seneca.com"/>
    <add key="replyToEmailAddress" value="fsmatool@affi.com"/>
    <add key="AFFIToAddress" value="jchampion@seneca.com"/>  <!--fsmatool@affi.com-->
    <add key="AFFIWebsiteURL" value="http://devtest.assurednotice.com/"/>  <!--http://affi-fsma.seneca.com-->
    <add key="AFFIWebsiteURLSpanish" value="http://affi-fsma-spanish.seneca.com/"/>
  </appSettings>

  <system.web>
        <compilation debug="true" targetFramework="4.0" />
      <customErrors mode="Off"/>
    </system.web>

</configuration>
