<?xml version="1.0"?>


<configuration>

  <connectionStrings>
    <add name="QuestionnaireContext" connectionString="Data source=72.13.109.119; Initial Catalog=AFFIQuestionnaire_Testing; user id=AFFIQuestionnaire; pwd=2Aff!Td7@1B; Connection Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="smtpServer" value="mail.seneca.com"/>
    <add key="errorEmailRecipient" value="jchampion@seneca.com"/>
    <add key="fromEmailAddress" value="fsmastorefront@seneca.com"/>
    <add key="replyToEmailAddress" value="fsmatool@affi.com"/>
    <add key="AFFIToAddress" value="fsmatool@affi.com"/> 
    <add key="WebsiteURL" value="http://affi-fsma.seneca.com"/>  <!--http://devtest.assurednotice.com/--> 
  </appSettings>

  <system.web>
        <compilation debug="true" targetFramework="4.0" />
      <customErrors mode="Off"/>
    </system.web>

</configuration>
